[submodule ".base/lua/modules/luajit-msgpack-pure"]
	path = .base/lua/modules/luajit-msgpack-pure
	url = https://github.com/catwell/luajit-msgpack-pure
[submodule ".base/lua/modules/LuLPeg"]
	path = .base/lua/modules/LuLPeg
	url = https://github.com/pygy/LuLPeg
[submodule ".base/lua/modules/vON"]
	path = .base/lua/modules/vON
	url = https://github.com/vercas/vON
[submodule ".base/lua/modules/dkjson"]
	path = .base/lua/modules/dkjson
	url = https://github.com/LuaDist/dkjson
[submodule ".base/lua/modules/strung"]
	path = .base/lua/modules/strung
	url = https://github.com/pygy/strung.lua
[submodule ".base/lua/modules/luajit-lang-toolkit"]
	path = .base/lua/modules/luajit-lang-toolkit
	url = https://github.com/franko/luajit-lang-toolkit
