*

**.DS_Store

!/.gitignore

!/.github/
!/.github/**
!/Dockerfile
!/.dockerignore

!/README.md
!/goluwa.cmd
!/goluwa

!/core/
!/core/**

!/framework/
!/framework/**

!/engine/
!/engine/**

!/game/
!/game/**

*/bin/*_*

*/data/**

*.directory

