/.base/bin/windows/x64/__temp
/.userdata/
/.base/bin/bullet_src/project_files
/.base/bin/bullet_src/obj
/.base/bin/windows/x86/bullet.*
/.base/bin/pdcurses_src/win32a/firework.exe
/.base/bin/pdcurses_src/win32a/newdemo.exe
/.base/bin/pdcurses_src/win32a/newtest.exe
/.base/bin/pdcurses_src/win32a/ptest.exe
/.base/bin/pdcurses_src/win32a/rain.exe
/.base/bin/pdcurses_src/win32a/testcurs.exe
/.base/bin/pdcurses_src/win32a/tuidemo.exe
/.base/bin/pdcurses_src/win32a/worm.exe
/.base/bin/pdcurses_src/win32a/xmas.exe
/.base/bin/windows/x86/build_scripts/temp
/.base/bin/windows/x86/jit
